/*
 *article.css--Styles used on long articles
 */

@font-face {
    font-family: "Raleway";
    src:url("https://2021.igem.org/wiki/images/5/54/T--DUT_China--Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway";
    font-weight: bold;
    src:url("https://2021.igem.org/wiki/images/3/35/T--DUT_China--Raleway-Bold.ttf");
}

@font-face {
    font-family: "Raleway";
    font-style: italic;
    src:url("https://2021.igem.org/wiki/images/b/be/T--DUT_China--Raleway-Italic.ttf");
}

@font-face {
    font-family: "Raleway";
    font-weight: bold;
    font-style: italic;
    src:url("https://2021.igem.org/wiki/images/3/36/T--DUT_China--Raleway-BoldItalic.ttf");
}

#main-text {
    padding: 10px;
    margin: 0 10% 0 20%;
    font-family: "Raleway", "Segoe UI", Arial, sans-serif;
    background-color: white;
}

#main-text .article {
    padding: 10px 0;
}

#main-text h1, #main-text h2, #main-text h3, #main-text h4 {
    color: #397689;
    font-family: inherit;
    font-weight: bold;
}

#main-text h1 {
    border-bottom: 2px solid;
    text-transform: uppercase;
}

#main-text p {
    font-family: inherit;
    font-size: 20px;
    text-indent: 2em;
    text-align: justify;
    font-variant-ligatures: none;
}

#main-text img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

#main-text .figures {
    width: 100%;
}

#main-text .figures * {
    text-align: center;
    text-indent: 0;
}

#main-text .figures p {
    margin: auto 0 0 0;
}

#main-text .caption {
    text-indent: 0;
    font-weight: bold;
}

/*Responsive*/

@media only screen and (max-width: 992px) {
    #main-text {
        width: 90%;
        margin: 0 auto;
    }
}