/*
 *home.css--Styles used on home page
 */

/*Whole Page*/

#wrapper {
    font-family: "Noto Sans", "Segoe UI", Arial, sans-serif;
    background-color: #dff5ff;
}

#wrapper h1 {
    text-align: center;
    font-family: inherit;
    font-weight: bold;
}

#wrapper article {
    width: 60%;
    margin: 0 auto;
}

/*Abstract*/

#wrapper #abstract {
    font-family: inherit;
}

#wrapper #abstract p {
    font-family: inherit;
    font-size: 22px;
    text-indent: 2em;
}

/*Links*/

#wrapper #links a {
    width: 200px;
    padding: 10px;
    margin: 25px;
    text-decoration: none;
    border: 1px solid gray;
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
    -o-transition: ease 500ms;
    -moz-transition: ease 500ms;
    -webkit-transition: ease 500ms;
    transition: ease 500ms;
}

#wrapper #links a:hover {
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#wrapper #links a img {
    width: 100%;
}


#wrapper #links a p {
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    height: 100px;
    color: black;
    font-family: inherit;
    font-size: 24px;
    text-align: center;
}

/*Responsive*/

@media only screen and (min-width: 992px) {
    #nav-bar {
        position: fixed;
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    #wrapper article {
        width: 90%;
    }
}