/*
 *team.css--Styles used on team page
 */

#main-text * {
    font-family: "Raleway", "Segoe UI", Arial, sans-serif;
}

/*Titles*/

#main-text > h1 {
    color: #397689;
    font-weight: bold;
    text-align: center;
}

/*Cards*/

#main-text .wrapper {
    height: auto;
    width: 500px;
    margin: 20px;
    background-color: #e5f0bc;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
}

#main-text .product-img {
    height: auto;
    width: 50%;
    float: left;
}

#main-text .product-img img {
    height: auto;
    width: 100%;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#main-text .product-info {
    padding: 25px 30px 0 30px;
    height: 100%;
    width: 50%;
    font-family: "Raleway", "Segoe UI", Arial, sans-serif;
    float: left;
}

#main-text .product-text h1 {
    color: #474747;
    font-size: 34px;
}

#main-text .product-text h2 {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

#main-text .product-text .badge {
    font-size: 12px;
    margin-bottom: 0.5rem;
}

#main-text .product-text p, #main-text .product-text ul {
    color: #8d8d8d;
    font-size: 18px;
    overflow: hidden;
}

#main-text .product-text ul {
    padding: 0;
    margin: 0;
    list-style: disc inside none;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

/*Responsive*/

@media only screen and (max-width: 768px) {
    #main-text .wrapper {
        width: 85%;
    }

    #main-text .product-img, #main-text .product-info {
        height: auto;
        width: 100%;
        float: none;
    }
}

@media only screen and (min-width: 768px) {
    #main-text .product-text ul.smaller {
        font-size: 12px;
        line-height: 1.25;
    }
}